html, body {
  font-family: 'Open Sans';
  height:100%;
  width:100%;
  position: relative;
}

canvas { 
  position: fixed;
  top: 0;
  left: 0; 
}
.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.ragFormClass{

}

#largeOutput{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#childLargeOutput{
  display: flex;
      height: 100px;
      width: 100px;
      background-color: #777;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color .3s ease;
}

#formParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#formParentHome {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  height: 10%;
  width: 75%;
  margin-top: 10px;
  margin-left: 10px;
}
#formParentHome2{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  width: 75%;
  margin-top: 10px;
  margin-left: 10px;
}

#formParent + .toggled {
  align-items: flex-start;
  justify-content: flex-start
  }

#ragFormhome{
  box-sizing: border-box;
  width: 100%;

}
#Output{
  box-sizing: border-box;
  align-self: flex-end;
  justify-content: flex-start;
  align-content: flex-start;
  height:80%;
  width:100%;
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #0000ff;
  background: #fff;
  resize: none;
  outline: none;
}


#ragBtn {
  color: #0000ff;
  height: calc(4em + 1px);
  margin: 0 0 1em;
  padding: 1em;
 
}
#ragBtnHome {
  color: #0000ff;
  height: calc(4em + 1px);
  margin: 0 0 1em;
  padding: 1em;
  width: 20%;
}


input[type="text"],[type="password"],[type="submit"] {
  box-sizing: border-box;
  width: 100%;
  height: calc(4em + 1px);
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #0000ff;
  background: #fff;
  resize: none;
  outline: none;
}



input[type="text"][required]:focus,input[type="password"][required]:focus,input[type="submit"][required]:focus {
  border-color: #ff00ff;
}
input[type="text"][required]:focus + label[placeholder]:before,[type="password"][required]:focus + label[placeholder]:before,[type="submit"][required]:focus + label[placeholder]:before {
  color: #ff00ff;
}
input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before,input[type="password"][required]:focus + label[placeholder]:before,
input[type="password"][required]:valid + label[placeholder]:before,input[type="submit"][required]:focus + label[placeholder]:before,
input[type="submit"][required]:valid + label[placeholder]:before {
  transition-duration: .2s;
  transform: translate(0, -1.5em) scale(0.9, 0.9);
}

input[type="text"][required]:invalid + label[placeholder][alt]:before,input[type="password"][required]:invalid + label[placeholder][alt]:before,input[type="submit"][required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}

input[type="text"][required] + label[placeholder],input[type="password"][required] + label[placeholder],input[type="submit"][required] + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 1em;
  margin-top: calc(-3em - 2px);
  margin-bottom: calc((3em - 1em) + 2px);
}

input[type="text"][required] + label[placeholder]:before,input[type="password"][required] + label[placeholder]:before,input[type="submit"][required] + label[placeholder]:before  {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #0000ff;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
  background-image: linear-gradient(to bottom, #fff, #fff);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}
